#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <100>;
    flavor = "tap-preferred";
    tapping-term-ms = <120>;
};

&sk { quick-release; };

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        c_ve: c_ve {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp V &kp E>;
            label = "C_VE";
        };

        c_s: c_s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp S>;
            label = "C_S";
        };

        c_m: c_m {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp M>;
            label = "C_M";
        };

        c_nt: c_nt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp SQT &kp T>;
            label = "C_NT";
        };

        c_d: c_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp D>;
            label = "C_D";
        };

        c_re: c_re {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp R &kp E>;
            label = "C_RE";
        };

        c_ll: c_ll {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp L &kp L>;
            label = "C_LL";
        };

        suf_ing: suf_ing {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp G>;
            label = "SUF_ING";
        };

        suf_ion: suf_ion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp O &kp N>;
            label = "SUF_ION";
        };
    };

    behaviors {
        sl_mo: sl_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_MO";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <120>;
        };

        brightness: brightness {
            compatible = "zmk,behavior-tap-dance";
            label = "BRIGHTNESS";
            #binding-cells = <0>;
            bindings = <&kp C_BRIGHTNESS_DEC>, <&kp C_BRIGHTNESS_INC>;

            tapping-term-ms = <120>;
        };

        volume: volume {
            compatible = "zmk,behavior-tap-dance";
            label = "VOLUME";
            #binding-cells = <0>;
            tapping-term-ms = <120>;
            bindings = <&kp C_VOLUME_DOWN>, <&kp C_VOL_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
       &kp V  &kp M  &kp H  &kp G      &kp W         &none        &kp J           &kp U        &kp O             &kp Y
       &kp S  &kp T  &kp N  &kp D      &kp F         &kp Q        &kp R           &kp E        &kp A             &kp I
&none  &kp X  &kp K  &kp B  &kp C      &kp P         &kp Z        &kp L           &lt 5 COMMA  &lt 4 APOSTROPHE  &kp SEMICOLON  &kp DOT
                     &mo 1  &kp SPACE  &sl_mo 2 3    &key_repeat  &kp LEFT_SHIFT  &mo 1
            >;
        };

        control {
            bindings = <
        &none          &volume       &kp ESCAPE  &none           &none              &kp PAGE_UP  &kp HOME  &kp UP    &kp END    &kp PAGE_DOWN
        &kp ENTER      &kp BSPC      &sk LCTRL   &kp DEL         &brightness        &none        &kp LEFT  &kp DOWN  &kp RIGHT  &kp ENTER
&trans  &sk LEFT_META  &sk LEFT_ALT  &kp TAB     &sk LEFT_SHIFT  &kp PRINTSCREEN    &none        &none     &none     &none      &none          &trans
                                     &trans      &trans          &trans             &trans       &trans    &trans
            >;
        };

        numeric {
            bindings = <
        &kp N5    &kp N6  &kp N7  &kp N8  &kp N9    &kp N0  &kp N1  &kp N2  &kp N3  &kp N4
        &kp N1    &kp N2  &kp N3  &kp N4  &kp N5    &kp N4  &kp N5  &kp N6  &kp N7  &kp N8
&trans  &kp FSLH  &kp N9  &kp N0  &kp N0  &none     &none   &kp N0  &kp N0  &kp N9  &kp N9  &trans
                          &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        function {
            bindings = <
        &kp F1  &kp F2   &kp F3   &kp F4   &none     &none   &none     &none     &none      &none
        &kp F5  &kp F6   &kp F7   &kp F8   &none     &none   &kp RGUI  &kp RALT  &kp RCTRL  &kp RSHFT
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &none     &none   &none     &none     &none      &none      &trans
                         &trans   &trans   &trans    &trans  &trans    &trans
            >;
        };

        contraction {
            bindings = <
        &c_ve   &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &c_s    &trans  &c_nt   &c_d    &trans    &trans  &c_re   &trans  &trans  &suf_ion
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &c_ll   &trans  &trans  &suf_ing  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        symbol {
            bindings = <
        &kp QMARK  &kp PRCNT  &kp AMPS   &kp DLLR   &kp CARET    &none   &none      &none   &kp LPAR  &kp RPAR
        &kp EXCL   &kp STAR   &kp MINUS  &kp PLUS   &kp PIPE     &none   &kp EQUAL  &none   &kp LT    &kp GT
&trans  &kp FSLH   &kp DQT    &kp UNDER  &kp GRAVE  &kp BSLH     &gresc  &kp AT     &none   &kp LBKT  &kp RBKT  &kp PERIOD
                              &trans     &trans     &trans       &trans  &trans     &trans
            >;
        };
    };
};
